<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span><a routerLink='/'>Welcome</a></span>

  <span><a routerLink='clientok'>Test Ok</a></span>
  <span><a routerLink='clientko'>Test Ko</a></span>
  
  <div class="spacer"></div>

  <a href="https://www.linkedin.com/in/marc-guerrini-4737541/" target="_blank" rel="noopener">linkedin</a>
</div>

<div class="content" role="main">

  

  <!-- Highlight Card -->
  <div class="card-container">
    <router-outlet></router-outlet>
  </div>

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Navigate to the two available pages. Each of them invokes one endpoint:</p>
    <ul>
      <li>Test Ok: the endpoint has been granted to support CORS from localhost:4200</li>
      <li>Test Ko: the endpoint has not been granted for CORS</li>
    </ul>
  <p>This project targets endpoints exposed by the following <a href="https://github.com/marc06210/spring-cors-sample" target="_blank" rel="noopener">Spring projects</a></p>

  <!-- Footer -->
    <h2>Want more</h2>
    <p>Other projects: &nbsp; <a href="https://github.com/marc06210" target="_blank" rel="noopener">GitHub</a></p>
    <p>Any remark / comment / question ?&nbsp; <a href="mailto:marc.guerrini@gmail.com" target="_blank" rel="noopener">Mail me!</a></p>

</div>


